*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    
}
html,body{
    height:100%;
    width:100%;
}
body::-webkit-scrollbar{
    display: none;
}
#main{
    height: 100%;
    width:100%;
    background-color: black;
    color: #fff8f1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar{
    border:0.5px solid black;
    background-color: #fff8f1;
    height: 6.5vw;
    width:100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top:0;
   z-index: 999;
   
}
#logo{
    margin-left: 2vw;
}
#nav1{
    height: 4vw;
    width:12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;

}#nav1 h4{
    color: black;
    text-transform: uppercase;
    padding-right: 0.5vw;
    
}#nav1 a{
    text-decoration: none;
    color: black;
}
#nav1:hover{
    background-color:aquamarine ;
      
}
#s1{
   height: 4.5vw;
   width: 10vw;
   display: none;
   
}


#nav1:hover #s1{
    display: block;
    position: absolute;
    margin-top: 130px;
    margin-left: 220px;
    z-index: 99;
    background-color: #fff8f1;
}
#s1 a{
    display: flex;
   align-items: center;

    margin-top: 0.8vw;
    margin-left: 3px;
    gap:5px;
    
}
#int:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  
}

#adv:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
  }
 



#nav2{
    height: 4vw;
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;

}#nav2 h4{
    color: black;
    text-transform: uppercase;
    padding-right: 0.5vw;
    
}#nav2 a{
    text-decoration: none;
    color: black;
}
#nav2:hover{
    background-color: aquamarine;
}
#s2{
    height: 4.5vw;
    width: 10vw;
    display: none;
    
 }
 
 
 #nav2:hover #s2{
     display: block;
     position: absolute;
     margin-top: 130px;
     margin-left: 290px;
     z-index: 99;
     background-color: #fff8f1;
 }
 #s2 a{
     display: flex;
    align-items: center;
     margin-top: 0.8vw;
     gap:5px;
     
 }
 #int1:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
  }
  #adv1:hover{
      text-decoration: underline;
      text-decoration-thickness: 2px;
      
    }
#nav3{
    height: 4vw;
    width:18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;

}#nav3 h4{
    color: black;
    text-transform: uppercase;
    padding-right: 0.5vw;
    
}#nav3 a{
    text-decoration: none;
    color: black;
}
#nav3:hover{
    background-color: aquamarine;
}
#s3{
    height: 3vw;
    width: 10vw;
    display: none;
    
 }
 
 
 #nav3:hover #s3{
     display: block;
     position: absolute;
     margin-top: 110px;
     margin-left: 230px;
     z-index: 99;
     background-color: #fff8f1;
 }
 #s3 a{
     display: flex;
    align-items: center;
 
     margin-top: 0.8vw;
     margin-left: 3px;
     gap:5px;
     
 }
 #beg:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
  }
  
#navbar img{
    
    height: 6vw;
    width:6vw;
    border-radius: 50%;
    
}


#apnahero{
    padding-top: 9vw;
    height:52vw;
    width:100%;
    background-color: black;
    padding-bottom: 5vw;
    
}#apnahero video{
   
    padding-left: 15vw;
    padding-right: 15vw;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    
}
#gyaan{
   margin-top: 3.2vw;
    padding-left: 0.5vw;
    padding-top: 6vw;
    height: 10vw;
    width: 100%;
    background-color: black;
    font-weight: 900;
    
}
#gyaan h2{
    padding-left: 1vw;
    text-transform: uppercase;
    
   
}



#hero{
    background-color: black;    height: 30vw;
    width: 100%;
    display: flex;
   padding-bottom: 2vw;
   justify-content: center;
   
   overflow:hidden;
   transition: all ease 0.6s;
}
#hero a{
    text-decoration: none;
    color:white;
}
#hero1{
    width:50%;
    height:100%;
    background-image:url("Arnold\ Schwarzenegger\ Admits\ to\ Body\ Insecurity.jpg");
    background-size:cover;
    background-position: 40%10%;

    margin: 10px;
    border-radius: 5%;
}

#hero2{
    width:50%;
    height:100%;
    background-image:url("Mens\ Gym\ Singlets\,\ Stringers\ Tank\ Tops\ Online\ _\ Ryderwear\ AU.jpg");
    background-size:cover;
    background-position: 50%20%;
    margin: 10px;
    border-radius: 5%;
}
#hero3{
    width:50%;
    height:100%;
    background-image:url("The\ Masked\ Singer\'s\ Dave\ Hughes\ works\ up\ a\ sweat\ while\ out\ for\ a\ jog.jpg");
    background-size:cover;
    background-position: 50%4%;
    margin: 10px;
    border-radius: 5%;
}
#heropart{
   background-color: black;
height: 32vw;
width: 100%;
padding-bottom: 5vw;
display: flex;
justify-content: center;

overflow:hidden;
transition: all ease 0.6s;
}
#heropart a{
    text-decoration: none;
    color:white;
}
#hero4{
    width:50%;
    height:100%;
    background-image:url("Jay\ Cutler.jpg");
    background-size:cover;
    background-position: 50%20%;
    margin: 10px;
    border-radius: 5%;
}
#hero5{
    width:50%;
    height:100%;
    background-image:url("Tom-Platz-1-1-740x740.webp");
    background-size:cover;
    background-position: 50%10%;
    margin: 10px;
    border-radius: 5%;
}
#hero6{

        width:50%;
        height:100%;
        background-image:url("Bon\ anniversaire\ Mike\ Tyson.jpg");
        background-size:cover;
        background-position: 50%30%;
        margin: 10px;
        border-radius: 5%;
}
#overlay {
    height: 100%;
    width:100%;
    background-color: black;
    padding: 8vw;
    opacity: 0;
   transition: all ease 0.6s;
   
}
#overlay h3,h5{
text-transform: uppercase;
white-space: nowrap;
}
#overlay:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness:2px ;
}
#dusra{
    height: 40vw;
    width: 100%;
    background-color: black;
    margin-top: 3.2vw;
  display: flex;
  align-items: center;
}
#dusra h2{
    text-transform: uppercase;
    padding-right: 2vw;
     
}#dusra img{
    height: 80%;
    padding: 5vw;
    
}



#footer{
    background-color: black;
    height:8vw;
    width:100%;
     display: flex;
     align-items: center;
     padding-left: 2vw;
}#footer i{
padding-left: 0.5vw;
}
